{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% static 'js/i18n/en-US.js' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/admin/blocklist_blocksubmission.css" %}">
  {% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% if has_view_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {{ original|truncatewords:"18" }}
</div>
{% endblock %}

{% block content %}<div id="content-main">
  <form action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>
  {% csrf_token %}
  {{ form.action }}
  {{ form.input_guids }}
  {% if not existing_guids|length == 0 or not invalid_guids|length == 0 %}
  <div>
    <div class="form-row horizontal-grid">
      <div>
        <h3>{% blocktrans with count=existing_guids|length v_min=form.min_version.value v_max=form.max_version.value %}{{ count }} Add-on GUIDs are already blocked for {{ v_min }} to {{ v_max }}{% endblocktrans %}:</h3>
        <ul class="guid_list field-existing-guids">
          {% for guid in existing_guids %}
          <li>{{ guid }}</li>
          {% endfor %}
        </ul>
      </div>
      <div>
        <h3>{% blocktrans with count=invalid_guids|length %}{{ count }} Add-on GUIDs were not found{% endblocktrans %}:</h3>
        <ul class="guid_list">
          {% for guid in invalid_guids %}
          <li>{{ guid }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endif %}
  <fieldset class="module aligned">
    <h2>{{ fieldsets.2.0 }}</h2>
    <div class="form-row field-blocks-to-add">
      <div>
        {% include 'blocklist/includes/enhanced_blocks.html' %}
      </div>
    </div>
    {% if block_history %}
    <div class="form-row field-block_history">
      <label for="id_min_version">Block History:</label>
      <div class="readonly">{{ block_history }}</div>
    </div>
    {% endif %}
    {% if form.non_field_errors %}
    <div class="form-row">
      {{ form.non_field_errors }}
    </div>
    {% endif %}
    {% if is_imported_from_kinto_regex %}
      <p class="errornote regexlegacywarning">
        {% trans "The following block(s) were imported from a regex based legacy kinto Block." %}
        {% trans "Any change made will NOT be updated in the legacy blocklist - you must make a manual change via kinto admin webui." %}
        {% for guid in is_imported_from_kinto_regex %}
          {{ guid }}
        {% endfor %}
      </p>
    {% endif %}
    <div class="form-row">
      <div>
        {{ form.min_version.errors }}
        {{ form.min_version.label_tag }}
        {{ form.min_version }}
        {{ form.existing_min_version }}
      </div>
    </div>
    <div class="form-row">
      {{ form.max_version.errors }}
      {{ form.max_version.label_tag }}
      {{ form.max_version }}
      {{ form.existing_max_version }}
    </div>
    <div class="form-row">
      {{ form.url.errors }}
      {{ form.url.label_tag }}
      {{ form.url }}
    </div>
    <div class="form-row">
      {{ form.reason.errors }}
      {{ form.reason.label_tag }}
      {{ form.reason }}
    </div>
    <div class="form-row">
      <div class="checkbox-row">
        {{ form.include_in_legacy }}
        {{ form.include_in_legacy.label_tag }}
        {{ form.include_in_legacy.errors }}
        <div class="help">{{ form.include_in_legacy.help_text }}</div>
      </div>
    </div>
    {% block submit_buttons_bottom %}
    <div class="submit-row">
      <input type="submit" value="{% trans 'Save' %}" class="default" name="_save">
      <input type="submit" value="{% trans 'Save and add more' %}" name="_addanother">
    </div>
    {% endblock %}
  </fieldset>
  </form>
</div>
{% endblock %}
