{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block field_sets %}
  {% if is_imported_from_kinto_regex %}
    <p class="errornote">
      {% trans "This block was imported from a regex based legacy kinto Block." %}
      {% trans "Any change made will NOT be updated in the legacy blocklist - you must make a manual change via kinto admin webui." %}
    </p>
  {% endif %}
  {{ block.super }}
{% endblock %}

{% block submit_buttons_bottom %}
  {# This is so we can submit directly to the blocksubmission add view - it expect an input_guids field #}
  <input type="hidden" name="input_guids" value="{{ original.guid }}">
  <input type="hidden" name="action" value="0">
  {{ block.super }}
{% endblock %}
