{% extends "reviewers/base.html" %}

{% block js %}
  {{ super() }}
{% endblock %}

{% block title %}
  {{ reviewer_page_title(title=addon.name) }}
{% endblock %}

{% block bodyclass %}{{ super() }} inverse{{ " content-review" if content_review else ""}}{% endblock %}

{% block content %}

<hgroup>
  <h2 class="addon"{{ addon.name|locale_html }}>
    <img src="{{ addon.get_icon_url(32) }}" class="icon" alt="" />
    {% if content_review %}
      {# L10n: "Content Review [add-on name]" #}
      <span>
        {{ _('Content Review {0}')|format_html(addon.name) }}
      </span>
    {% else %}
      {# L10n: "Review [add-on name]" #}
      <span>
        {{ _('Review {0}')|format_html(addon.name) }}
      </span>
    {% endif %}
    {% if version %}
      <span class="version">{{ version.version }} ({{ version.get_channel_display() }})</span>
    {% endif %}
  </h2>
  <h4 class="author">{{ _('by') }} {{ users_list(addon.listed_authors) }}</h4>
</hgroup>

<div id="addon" class="primary addon-type-{{ amo.ADDON_SLUGS.get(addon.type, addon.type) }}" role="main" data-id="{{ addon.id }}" data-url="{{ url('reviewers.review_viewing') }}">

<form method="POST" action="#review-actions" class="review-form">
  {% csrf_token %}

  {% include 'reviewers/addon_details_box.html' %}

  {% if user_changes_log %}
  <div id="user-changes-history">
    <h3>
      {{ _('Add-on user change history') }}
    </h3>
    <ul id="user-changes">
      {% for user_change_log in user_changes_log %}
        <li>{{ user_change_log.created }}: {{ user_change_log }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div id="review-files-header">
    <h3 id="history">
      {{ _('Add-on History') }}
    </h3>
    {% if deleted_addon_ids %}
    <div class="results">
      <table class="item-history"><tr class="listing-header"><th>
        {{ _('Previously deleted entries') }}:
        {% for deleted in deleted_addon_ids %}
          {% set review_url = url('reviewers.review', 'unlisted', deleted)
                              if unlisted else url('reviewers.review', deleted) %}
          <a href="{{ review_url }}">{{ deleted }}</a>&nbsp;
        {% endfor %}
      </th></tr></table>
    </div>
    {% endif %}
    <div class="review-files-paginate">
      {% include "reviewers/includes/paginator_history.html" %}
    </div>
  </div>
  <div id="versions-history" class="results">
    <div class="results-inner">
      <table class="review-files item-history">
        {# We're paginating by newest first, but want to display the current page by oldest first #}
        {% for version in pager.object_list|reverse %}
          {% include "reviewers/includes/version.html" %}
        {% endfor %}
      </table>
    </div>
  </div>

  <div id="review-actions" class="review-actions">
    <div class="action_nav">
      {{ form.action }}
    </div>

    <div id="review-actions-form">

      {% for (setting, action) in actions %}
      <div class="data-toggle review-actions-desc" data-value="{{ setting }}|">
        {{ action['details'] }}

        {# We don't have a better place to display versions error messages, so let's do it here.
           We display a generic error message instead of the one django generates for us since
           the default ones are not going to be very helpful. #}
        {% if form.versions.errors %}
          <ul class="errorlist"><li>{{ _('Please select one or more versions in the list above.') }}</li></ul>
        {% endif %}
      </div>
      {% endfor %}

      <div class="currently_viewing_warning">
        {{ _("You can still submit this form, however only do so if you know it won't conflict.") }}
      </div>

      {{ form.versions }}
      {{ form.versions.errors }}

      <div class="review-actions-section data-toggle review-comments"
           data-value="{{ actions_comments|join("|") }}|">
        <label for="id_comments">{{ form.comments.label }}</label>
        {{ form.comments }}
        {{ form.comments.errors }}
        <div class="review-actions-canned">
          {{ _('Insert canned response...') }}
          {{ form.canned_response }}
        </div>
      </div>

      <div class="review-actions-section review-actions-files data-toggle review-files"
           data-value="{{ actions_full|join("|") }}|">
        <label><strong>{{ _('Files:') }}</strong></label>
        <ul>
          {% for file in form.unreviewed_files %}
          <li>
            <strong>{{ file.get_platform_display() }}</strong> &middot;
            {{ file.filename }} &middot;
            {{ file_review_status(addon, file) }}
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="review-actions-section review-actions-tested data-toggle review-tested"
           data-value="{{ actions_full|join("|") }}|">
        <strong>{{ _('Tested on:') }}</strong>
        <label>
          {{ form.operating_systems.label }}
        </label>
        {{ form.operating_systems }}
        <label>
          {{ form.applications.label }}
        </label>
        {{ form.applications }}
        {{ form.operating_systems.errors }}
        {{ form.applications.errors }}
      </div>
      <div class="review-actions-section data-toggle review-info-request"
           data-value="reply|">
        {{ form.info_request }}
        <label for="{{ form.info_request.auto_id }}">
          {{ form.info_request.label }}
        </label>
        {{ form.info_request.errors }}

        {{ form.info_request_deadline }}
        <label for="{{ form.info_request_deadline.auto_id }}">
          {{ form.info_request_deadline.label }}
        </label>
        {{ form.info_request_deadline.errors }}
      </div>
      <div class="review-actions-section review-actions-save">
        <span class="currently_viewing_warning">
          {% trans %}
          <strong>Warning!</strong> Another user was viewing this page before you.
          {% endtrans %}
        </span>
        <input type="submit" value="{{ _('Save') }}" />
      </div>
    </div>
  </div>
</form>

{% if whiteboard_form %}
<form method="POST" action="{{ whiteboard_url }}" id="whiteboard_form">
  {% csrf_token %}
  <div class="whiteboard">
    <div class="whiteboard-inner">
      <label for="{{ whiteboard_form.public.auto_id }}">{{ whiteboard_form.public.label }}</label>
      {{ whiteboard_form.public }}
      <p>{{ _('The whiteboard is the place to exchange information relevant to '
              'this addon (whatever the version), between the developer and the '
              'reviewer. This is visible and editable by both.') }}</p>
    </div>
  </div>
  {% if 'private' in whiteboard_form.fields %}
  <div class="whiteboard private">
    <div class="whiteboard-inner">
      <label for="{{ whiteboard_form.private.auto_id }}">{{ whiteboard_form.private.label }}</label>
      {{ whiteboard_form.private }}
      <p>{{ _('The private whiteboard is used for exchanging information '
              'between reviewers that is independent of the version. Please '
              'keep the language objective. It is visible only to reviewers.') }}</p>
    </div>
  </div>
  {% endif %}
  <div class="whiteboard-actions">
    {{ whiteboard_form.errors }}
    <input type="submit" value="{{ _('Update whiteboards') }}" />
  </div>
</form>
{% endif %}

{% if not addon.is_deleted or is_admin %}
<form class="more-actions" id="extra-review-actions" data-api-token="{{ api_token }}">
  <p><strong>{{ _('More Actions') }}</strong></p>
  <div class="more-actions-inner">
    <ul>
      {% if not addon.is_deleted %}
      <li>
        <input type="checkbox" id="notify_new_listed_versions"
               data-api-url-subscribe="{{ drf_url('reviewers-addon-subscribe', addon.pk) }}"
               data-api-url-unsubscribe="{{ drf_url('reviewers-addon-unsubscribe', addon.pk) }}"
               {% if subscribed %}checked="checked"{% endif %} autocomplete="off" />
          <label for="notify_new_listed_versions">{{ _('Notify me about new listed versions') }}</label>
      </li>
      {% endif %}
    </ul>

    {% if is_admin %}
    <ul class="admin_only">
      {% if addon.is_deleted %}
        <li {% if not addon.is_guid_denied %}class="hidden"{% endif %}>
          <button data-api-url="{{ drf_url('reviewers-addon-allow-resubmission', addon.pk) }}"
                  data-toggle-button-selector="#deny_resubmission"
                  id="allow_resubmission" type="button">{{ _('Allow resubmission') }}</button>
        </li>
        <li {% if addon.is_guid_denied %}class="hidden"{% endif %}>
          <button data-api-url="{{ drf_url('reviewers-addon-deny-resubmission', addon.pk) }}"
                  data-toggle-button-selector="#allow_resubmission"
                  id="deny_resubmission" type="button">{{ _('Deny resubmission') }}</button>
        </li>
      {% else %}
        <li {% if addon.status == amo.STATUS_DISABLED %}class="hidden"{% endif %}>
          <button data-api-url="{{ drf_url('reviewers-addon-disable', addon.pk) }}"
                  data-toggle-button-selector="#force_enable_addon"
                  id="force_disable_addon" type="button">{{ _('Force-disable add-on') }}</button>
        </li>
        <li {% if addon.status != amo.STATUS_DISABLED %}class="hidden"{% endif %}>
          <button data-api-url="{{ drf_url('reviewers-addon-enable', addon.pk) }}"
                  data-toggle-button-selector="#force_disable_addon"
                  id="force_enable_addon" type="button">{{ _('Force-enable add-on') }}</button>
        </li>
        <li>
        {% if addon.blocksubmission %}
          <a href="{{ url('admin:blocklist_blocksubmission_change', addon.blocksubmission.id) }}" class="button"
                  id="edit_addon_blocksubmission" type="button">{{ _('View Block Submission') }}</a>
        {% elif not addon.block %}
          <a href="{{ url('admin:blocklist_blocksubmission_add') }}?guids={{ addon.guid }}" class="button"
                  id="block_addon" type="button">{{ _('Block add-on') }}</a>
        {% else %}
          <a href="{{ url('admin:blocklist_block_change', addon.block.id) }}" class="button"
                  id="edit_addon_block" type="button">{{ _('Update add-on block') }}</a>
        {% endif %}
        </li>

        {% if addon.type in (amo.ADDON_EXTENSION, amo.ADDON_LPAPP, amo.ADDON_DICT, amo.ADDON_SEARCH) %}
          <li {% if addon.auto_approval_disabled %}class="hidden"{% endif %}>
            <button data-api-url="{{ drf_url('reviewers-addon-flags', addon.pk) }}"
                    data-api-method="patch"
                    data-api-data="{&quot;auto_approval_disabled&quot;: true}"
                    data-toggle-button-selector="#enable_auto_approval"
                    id="disable_auto_approval" type="button">{{ _('Disable Listed Auto-Approval') }}</button>
          </li>
          <li {% if not addon.auto_approval_disabled %}class="hidden"{% endif %}>
            <button data-api-url="{{ drf_url('reviewers-addon-flags', addon.pk) }}"
                    data-api-method="patch"
                    data-api-data="{&quot;auto_approval_disabled&quot;: false}"
                    data-toggle-button-selector="#disable_auto_approval"
                    id="enable_auto_approval" type="button">{{ _('Enable Listed Auto-Approval') }}</button>
          </li>
          {% if addon.auto_approval_delayed_until and addon.auto_approval_delayed_until > now %}
            {# This flag is only meant to be enabled by scanners, but admins can still unset it. #}
            <li>
              <button data-api-url="{{ drf_url('reviewers-addon-flags', addon.pk) }}"
                      data-api-method="patch"
                      data-api-data="{&quot;auto_approval_delayed_until&quot;: null}"
                      title="{{ _('Auto-Approval currently disabled until {date}')|format_html(date=addon.auto_approval_delayed_until|datetime) }}"
                      id="clear_auto_approval_delayed_until" type="button">{{ _('Clear Auto-Approval Extra Delay') }}</button>
            </li>
          {% endif %}
        {% endif %}

        {% if addon.pending_info_request %}
          <li>
              <button data-api-url="{{ drf_url('reviewers-addon-flags', addon.pk) }}"
                      data-api-method="patch"
                      data-api-data="{&quot;pending_info_request&quot;: null}"
                      id="clear_pending_info_request" type="button">{{ _('Clear information request') }}</button>
          </li>
        {% endif %}

        {% if addon.needs_admin_code_review %}
          <li>
            <button data-api-url="{{ drf_url('reviewers-addon-flags', addon.pk) }}"
                    data-api-method="patch"
                    data-api-data="{&quot;needs_admin_code_review&quot;: false}"
                    id="clear_admin_code_review"  type="button">{{ _('Clear Admin Code Review Flag') }}</button>
          </li>
        {% endif %}

        {% if addon.needs_admin_content_review %}
          <li>
            <button data-api-url="{{ drf_url('reviewers-addon-flags', addon.pk) }}"
                    data-api-method="patch"
                    data-api-data="{&quot;needs_admin_content_review&quot;: false}"
                    id="clear_admin_content_review" type="button">{{ _('Clear Admin Content Review Flag') }}</button>
          </li>
        {% endif %}

        {% if addon.needs_admin_theme_review %}
          <li>
            <button data-api-url="{{ drf_url('reviewers-addon-flags', addon.pk) }}"
                    data-api-method="patch"
                    data-api-data="{&quot;needs_admin_theme_review&quot;: false}"
                    id="clear_admin_theme_review" type="button">{{ _('Clear Admin Static Theme Review Flag') }}</button>
          </li>
        {% endif %}
      {% endif %}
    </ul>
    {% endif %} {# /is-admin #}
  </div>
</form>
{% endif %}

</div> {# /#primary #}

<div class="secondary scroll_sidebar_parent">
  <div id="scroll_sidebar">
  <div class="currently_viewing_warning"></div>

  <strong>{{ _('Actions') }}</strong>
  <ul id="actions-addon">
    {% if not addon.is_deleted and addon.has_listed_versions() %}
      <li><a href="{{ addon.get_url_path() }}">{{ _('View Product Page') }}</a></li>
    {% endif %}
    {# If we are on the unlisted review page, show the link to the listed review page #}
    {% if unlisted and addon.has_listed_versions() %}
      <li><a href="{{ url('reviewers.review', addon.slug) }}">{{ _('Listed Review Page') }}</a></li>
    {# On the listed review page, show link to unlisted version review if necessary and allowed #}
    {% elif not unlisted and action_allowed(amo.permissions.ADDONS_REVIEW_UNLISTED) and addon.has_unlisted_versions() %}
      <li><a href="{{ url('reviewers.review', 'unlisted', addon.slug) }}">{{ _('Unlisted Review Page') }}</a></li>
    {% endif %}
    {% if is_admin %}
      {% if not addon.is_deleted %}
        <li><a href="{{ addon.get_dev_url() }}">{{ _('Edit') }}</a> <em>{{ _('(admin)') }}</em></li>
      {% endif %}
    <li><a href="{{ url('admin:addons_addon_change', addon.id) }}">{{ _('Admin Page') }}</a> <em>{{ _('(admin)') }}</em></li>
    {% endif %}
  </ul>


  <strong>{{ _('Review This Add-on') }}</strong>
  <ul>
    <li><a href="#more-about">{{ _('More Information') }}</a></li>
    <li><a href="#history">{{ _('Add-on History') }}</a></li>
    <li><a href="#review-actions">{{ _('Resolution') }}</a></li>
  </ul>

  <strong>{{ _('Authors') }}</strong>
  <ul>
    {% for author in addon.authors.all() %}
    <li><a href="{{ author.get_url_path() }}">{{ author.name }}</a></li>
    {% endfor %}
  </ul>

  <strong>{{ _('Categories') }}</strong>
  <ul>
    {% for category in addon.categories.all() %}
    <li>{{ category.name }}</li>
    {% endfor %}
  </ul>

  {% if flags: %}
  <strong>{{ _('Flags') }}</strong>
  <ul>
    {% for cls, title in flags %}
      <li class="{{ cls }}">{{ title }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  </div>
</div>
{% endblock %}
