#changelist .field-result_actions {
  text-align: center;
  white-space: nowrap;
}

#changelist .field-formatted_addon table {
  margin: 4px 0 0 0;
}

#changelist .field-formatted_addon table td {
  border: none;
  padding: 2px;
}

#changelist .field-guid {
  min-width: 250px;
}

.field-result_actions .button {
  padding: 4px 6px;
}

.field-result_actions .button.default {
  float: none;
}

.field-matching_filenames ul, .field-authors ul {
    display: block;
    margin: 0;
    padding: 0;
}

.field-matching_filenames li, .field-authors li {
    display: block;
    max-width: 36em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.field-authors li {
    max-width: 24em;
}
