{% extends "devhub/addons/submit/base.html" %}

{% block title %}{{ dev_page_title(_('Source Code Upload'), addon) }}{% endblock %}

{% block primary %}

{% set channel_param = 'listed' if channel == amo.RELEASE_CHANNEL_LISTED else 'unlisted' %}

<form method="post" enctype="multipart/form-data" id="submit-source">
    {% csrf_token %}
    <h3>{{ _('Do You Need to Submit Source Code?') }}</h3>
    <div>
        {{ form.non_field_errors() }}
        <p class="instruction-emphasis">
        {% trans %}
            You may need to submit source code. If you don’t, your add-on may be removed from the site!
        {% endtrans %}
        </p>
        <p class="list-header">
        {% trans a_attrs = 'href="https://extensionworkshop.com/documentation/publish/source-code-submission/" target="_blank" rel="noopener noreferrer"'|safe %}
            Please review the <a {{ a_attrs }}>source code submission policy</a>.
        {% endtrans %}
            <span class="instruction-emphasis">
            {% trans %}
                Do you use any of the following?
            {% endtrans %}
            </span>
        </p>
        <ul>
            <li>{% trans %}Code minifiers or obfuscators{% endtrans %}</li>
            <li>
            {% trans %}Tools that combine multiple files into a single file, such as <span class="tech-emphasis">webpack</span>{% endtrans %}
            </li>
            <li>{% trans %}Web template engines, both for HTML and CSS{% endtrans %}</li>
            <li>{% trans %}Any other tool that takes code or files, applies processing, and generates code or file(s) to include in the add-on{% endtrans %}</li>
        </ul>
        <p id="id_has_source">
            {% for radio in form.has_source %}
                {{ radio }}
            {% endfor %}
            {{ form.has_source.errors }}
        </p>
    </div>
    <div id="option_no_source">
        <p>
        {% trans %}
            You do not need to submit Source Code, and you’re ready for the next step.
        {% endtrans %}
        </p>
    </div>
    <div id="option_yes_source">
        <h3>{{ _('Your Submission Requires Source Code.') }}</h3>
        <p class="instruction-emphasis list-header">
        {% trans a_attrs = 'href="https://extensionworkshop.com/documentation/publish/source-code-submission/" target="_blank" rel="noopener noreferrer"'|safe %}
            The source code must meet <a {{ a_attrs }}>policy requirements</a>, which includes:
        {% endtrans %}
        </p>
        <ul>
            <li>{% trans %}Step-by-step build instructions to create an exact copy of the add-on code.{% endtrans %}</li>
            <li>{% trans %}A build script that executes all necessary technical steps.{% endtrans %}</li>
            <li>{% trans %}Operating system and build environment requirements.{% endtrans %}</li>
            <li>{% trans %}Details (including required version and installation instructions), of any programs used in the build process (for example: <span class="tech-emphasis">node</span> and <span class="tech-emphasis">npm</span> version used).{% endtrans %}</li>
        </ul>
        <p>
        {% trans %}
            <span class="instruction-emphasis">Note:</span>
            Source files (aside from open-source third party libraries) cannot be transpiled, obfuscated, minified or otherwise machine-generated.
        {% endtrans %}
        </p>
        <h3>{{ _('How to Submit:') }}</h3>
        <p>
            <span class="instruction-emphasis">
            {% trans %}
                Include instructions in a README file in the source code,
            {% endtrans %}
            </span>
            {% trans %}
                or in reviewer notes on the next page (if applicable).
            {% endtrans %}
        </p>
        <p>
            <label for="{{ form.source.auto_id }}">{{ _("Upload source code:") }}</label>
            {{ form.source.errors }}
            {{ form.source }}
        </p>
    </div>

    <div class="submission-buttons addon-submission-field">
      <button type="submit">
        {{ _('Continue') }}
      </button>
      &nbsp;
      <button class="delete-button" formnovalidate  type="submit"
              formaction="{{ url('devhub.addons.cancel', addon.slug) }}">
          {{ _('Cancel and Disable Version') }}
      </button>
    </div>
  </form>

{% endblock primary %}
